flask
gunicorn
requests
groq
flask-dance
flask-login
markupsafe
oauthlib
pyjwt
werkzeug
email-validator
flask-bcrypt
flask-login
flask-wtf
wtforms
flask-bcrypt
flask-login
flask-sqlalchemy
flask-wtf
sqlalchemy
wtforms[email]